body {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100%;
   overflow-x: hidden!important;
   background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    font-family: 'PT Mono', monospace;
}
.logo img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.link{
  color: #ffffff;
  text-decoration: none;
}
.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 1px solid #fff;
  overflow-x: hidden;
  padding-top: 20px;
  
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.21);

}
.user-name{
  margin-right: 40px;
}
.sidenav ul{
  padding-top: 80px;
  list-style-type: none;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #ffffff;
  filter: brightness(150%);
}


.top-line{
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  margin-bottom:110px;
}
.btn {
  padding: 12px 50px ;
  border: 3px solid #87d147 ;
  border-radius: 10px;
}
.btn:hover {
  border: 3px solid #fcdd86;
 
}
.btn-blue {
  padding: 12px 50px ;
  border: 3px solid #70d6f9 ;
  border-radius: 10px;
}
.btn-blue:hover {
  border: 3px solid #fcdd86;
 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block {
  margin: 10px;
  width: 40%;
  height: 200px;
  border: 3px solid #87d147 ;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big{
  text-align: center;
  padding: 80px 0;
    width: 100%;
}
.red{
  color: #fc657e;
}
.yellow{
  color: #fcdd86;
}
form > *{
  margin: 0 auto;
}


.image{
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.foto{
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.width{
  max-width: 800px;
 margin: 0 auto;
    box-sizing: border-box;
    /* margin-top: 100px; */
   /* // margin-left: 400px;
} */
}
.second-line{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.icon-btn{
  margin: 15px 40px 0 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.icon-btn img{
  width: 30px;
  height: auto;
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: -135px;
  top: -13px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.icon-btn:hover .tooltiptext {
  visibility: visible;
}


.container{
    max-width: 1100px;
    padding: 50px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.left{
  width: 40%;
}
.right {
  width: 60%;
 
  position: relative;
}
.img{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

h1{
    text-align: center;
    font-size: 30px;
    margin: 50px 0;
}
h3 {
    padding: 30px 0 20px 0;
    letter-spacing: 1px;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    padding: 8px 0 20px 0;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }


  tr:hover {
    background-color: #43638c;
    color: 	#cce2a6;
  }
  .link:hover{
    color: 	#ffffff;
  }
  
  .midle {
      margin-top: 50px;

  }
  .footer {
      width: 100%;
      /* height: 100px; */
      background-color: #161626;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      padding: 20px 0 40px 0;
      border-top: 1px solid #ffffff;
      text-align: center;
      margin-top: 20px;
  }
  .footer p{
      color: #fff;
  }

.second{
  margin-top: 100px;
}

  hr {
	height: 2px;
	color: #1EBAD6;
	background-color: #1EBAD6;
  border: none;
  margin-bottom: 40px;
}

.white{
  background-color: #ffffff;
  margin: 50px 0;
}




#navbar {
	margin: 10px auto;
	width: 800px;
} 
#navbar #holder {
	height:64px;
	border-bottom:1px solid #fff;
	width:760px; 	
	padding-left:30px;
} 
#navbar #holder ul {
	list-style:none;
	margin:0;
	padding:0; 
} 
#navbar #holder ul li a { 
	text-decoration:none;
	float:left;
	margin-right:5px;
	line-height:23px;
	
	color:#F2F2F4;
	border:1px solid #161626;
	border-bottom:none;
	padding:20px;
	/* width:75px; */
	text-align:center;
	display:block;
    background: #161626;
    border-radius: 15px 15px 0 0;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	
} 
#navbar #holder ul li a:hover {
	background:#3B3A4A ;
	color:#F2F2F4 ;
	text-shadow:1px 1px 1px #000;
 }
#holder ul li a#onlink {
  background:#F2F2F4 ;
  color:#161626 ;
  border-bottom:1px solid #F2F2F4 ; 
 } 

 #holder ul li a#onlink:hover {
  background:#F2F2F4 ;
  color:#161626;
  text-shadow:1px 1px 1px #000; 
 
  
 }
 .pagrindinis li {
    color: #fff;
    margin: 10px; 
font-size: 20px;
}

.forma{
    padding: 40px 20px;
}
* {
    box-sizing: border-box;
  }
  
  input[type=text], input[type=email], .email, select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    display: block;
  }
  
  label {
    padding: 12px;
    display: block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 13px 90px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-top: 40px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .list {
    margin: 20px 0;
  }
  .list li {
    padding-bottom: 15px;
  }
  .result {
    padding: 30px;
  }
  .error {
    color:#fc657e;
    margin: 10px 0;
    display: block;
  }
  


/* Login page style */

  .login-page {
    width: 360px;
    padding: 15% 0 0;
    margin-left: 500px;
  }
  .form {
    border: 3px solid #87d147;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    
    max-width: 450px;
    margin: 0 auto 50px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    /* font-family: "Roboto", sans-serif; */
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
  }
  .form button {
    text-transform: uppercase;
    outline: 0;
    border: 3px solid #70d6f9;
    background:  transparent;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    color: #70d6f9;
   
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }

  
  .alert{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    color: #696D7D;
    font-weight: bold;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-size: 20px;
  }
  .for-log {
    margin-top: 150px;
  }